body {
  background: linear-gradient(to bottom, #121418, #1b1e25);
  color: white;
  font-family: Arial, sans-serif;
}
.heading{
   margin-bottom:2em ;
   border-left: 5px solid #FFD700;
   padding-left: 0.3em;
   font-weight: bold;
   animation: pulseGlow 2s infinite ease-in-out;
   text-shadow: 0 0 4px #FFD700, 0 0 8px #DAA520;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    font-family: 'Exo 2';
}

.game-card {
      background: linear-gradient(to bottom, #1b1e25, #0e141d);
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 0 15px rgba(255, 215, 0, 0.2);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
.game-card:hover {
      transform: scale(1.05);
      box-shadow: 0 0 25px rgba(255, 215, 0, 0.6);
    }
.game-card img {
      width: 60%;
      margin-left:2.4em;
      object-fit: cover;
      border-bottom: 2px solid #ffd700;
    }

    .game-info {
      padding: 15px;
      text-align: center;
    }

    .game-title {
      font-size: 1.1rem;
      font-weight: bold
      margin-bottom: 10px;
    }

    .price {
      font-size: 0.9rem;
      color: #ffeb3b;
      margin-bottom: 5px;
    }

    .old-price {
      text-decoration: line-through;
      color: #aaa;
      margin-left: 5px;
      font-size: 0.7rem;
    }

    .discount {
      font-size: 0.7rem;
      font-weight: bold;
      color: #ff4c4c;
      margin-bottom: 10px;
    }

    .btn-cart {
      background: #ffed00;
      color: #000;
      font-weight: bold;
      border-radius: 25px;
      padding: 5px 10px;
      transition: 0.3s;
      font-size: 0.9rem;
    }

    .btn-cart:hover {
      background: #ffeb3b;
      box-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
    }


